/* CSS declarations go here */
#search-bar{
   position: absolute;
   width: 70%;
}

#search-bar-container {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
    margin-right: 20px;
    font-size: 160%;
    position: relative;
    height: 40px;
    width: 100px;
}