<template name='aboutUs'>
	<div class='home'>
		{{> userMenu}}
		 <div class='center-block' id='whoWeAreBox'>
<!-- 			<div id='WhoWeAre'> -->
				 <p> Who We Are:</p>
				 <p>A non-profit organization that values the importance of joining extra curricular activities?</p>
<!-- 			</div> -->
		</div>

		<div name='container' id="people-wrapper">
			<div class="row">
  				<div class="col-sm-6 col-md-3">
				    <div class="thumbnail">
				      <img src='/img/final anuja.jpg'>
				      <div class="caption">
				        <h3>Anuja</h3>
				      </div>
				    </div>
				</div>
				<div class="col-sm-6 col-md-3">
				    <div class="thumbnail">
				      <img src='/img/final anuja.jpg'>
				      <div class="caption">
				        <h3>Astor</h3>
				      </div>
				    </div>
				</div>
				<div class="col-sm-6 col-md-3">
				    <div class="thumbnail">
				      <img src='/img/final anuja.jpg'>
				      <div class="caption">
				        <h3>Constance</h3>
				      </div>
				    </div>
				</div>
				<div class="col-sm-6 col-md-3">
				    <div class="thumbnail">
				      <img src='/img/final anuja.jpg'>
				      <div class="caption">
				        <h3>Eric</h3>
				      </div>
				    </div>
				</div>

				</div>
			</div>
		</div>






<!-- 		<div class='teamMembers'>
				 <div class='person' id='anuja'>
				 Anuja
				 </div>
				 <div class='person' id='astor'>
				 Astor
				 </div>
				 <div class='person' id='constance'>
				 Constance
				 </div>
				 <div class='person' id='eric'>
				 Eric
				 </div>
		 </div> -->
	</div>
</template>