<template name='aboutUs'>
	<div class='home'>
		{{> userMenu}}
		 <div class='center-block' id='whoWeAreBox'>
<!-- 			<div id='WhoWeAre'> -->
				 <h2> Who We Are</h2>
				 <p style="text-align: justify; margin: 0px 10px 7px 10px">ClubLife is an association that focuses on matching students and their interests to the clubs accessible at the university. The students will log in from Facebook in order to collect background information. ClubLife will also allow students to search and read descriptions about different clubs, and enable them to connect with other students who pursue similar interests. This web application will update the students about upcoming events, application deadlines, and volunteer opportunities about clubs they show interest in. ClubLife also allows clubs to update their information and events.</p>
<!-- 			</div> -->
		</div>

		<div name='container' id="people-wrapper">
			<div class="row">
  				<div class="col-sm-6 col-md-3">
				    <div class="thumbnail">
				      <img src='/img/final anuja.jpg'>
				      <div class="caption">
				        <h3>Anuja</h3>
				      </div>
				    </div>
				</div>
				<div class="col-sm-6 col-md-3">
				    <div class="thumbnail">
				      <img src='/img/astor.jpg'>
				      <div class="caption">
				        <h3>Astor</h3>
				      </div>
				    </div>
				</div>
				<div class="col-sm-6 col-md-3">
				    <div class="thumbnail">
				      <img src='/img/constance.jpg'>
				      <div class="caption">
				        <h3>Constance</h3>
				      </div>
				    </div>
				</div>
				<div class="col-sm-6 col-md-3">
				    <div class="thumbnail">
				      <img src='/img/eric.jpg'>
				      <div class="caption">
				        <h3>Eric</h3>
				      </div>
				    </div>
				</div>

				</div>
			</div>
		</div>






<!-- 		<div class='teamMembers'>
				 <div class='person' id='anuja'>
				 Anuja
				 </div>
				 <div class='person' id='astor'>
				 Astor
				 </div>
				 <div class='person' id='constance'>
				 Constance
				 </div>
				 <div class='person' id='eric'>
				 Eric
				 </div>
		 </div> -->
	</div>
</template>