<template name='userHome'>
	<div class='home'>
		<div class="userMenu">	
			{{> userMenu}}
		</div>
		<div class='home-wrapper'>
			 <table class='tg'>
				<tr>
					<th class="tg-031e">
					    <h3>Build Your Network</h3><span class='why'>Being involved in extra-circular activities will give you an opportunity to meet new people, and expand your network.</span>
					</th>
					<th class="tg-031e">
						<h3>Build Your Resume</h3><span class='why'>Attract employers by demonstrating your time-management and prioritizing skills by being involved in clubs! Having extra-circular experience in your resume will show your personality and interests, giving you an advantage of expressing yourself. </span
					</th>
				</tr>
				<tr>
					<th class="tg-031e">
					    <h3>Leadership Involvement</h3><span class='why'>You may discover your leadership skills that will benefit you in your future career development as well as current academic and professional opportunities.</span>
					</th>
					<th class="tg-031e">
						<h3>Follow Your Passion</h3><span class='why'>Take an opportunity to grow in your field of interest and show your passion! </span>
					</th>
				</tr>
			</tg>
		</div>
	</div>
</template>