<template name='userHome'>
	<div class='home'>
		<div class="userMenu">	
			{{> userMenu}}
		</div>
		<!-- <div class='center-block'>
			<div class='container'>
				<div class='row'>
					<div class='.col'>
						left
					</div>
					<div class='.col'>
						right
					</div>
				</div>
				<div class='row'>
					<div class='.col-md'>
						left
					</div>
					<div class='.col-md'>
						right
					</div>
				</div>
			</div>
		</div> -->
		<div class='home-wrapper'>
			 <table class='tg'>
				<tr>
					<th class="tg-031e">
					    Build Your Resume
					</th>
					<th class="tg-031e">
						Leadership Involvment
					</th>
				</tr>
				<tr>
					<th class="tg-031e">
					    Enhance your skills
					</th>
					<th class="tg-031e">
						Etc.
					</th>
				</tr>
			</tg>
		</div>


<!-- 
	 		<div id ="reason1">
			 Build your Resume
			 </div>
			 

			 <div id ="reason2">
			 Leadership Involvment
			 </div>
			 
			 <div id = "reason3">
			 Enhance your Skills
			 </div>
			 
			 <div id = "reason4">
			 Etc.
			 </div> -->
	</div>
</template>