<template name='userClub'>
	{{> userMenu}}
	 <button type="button" class="joinClub btn btn-default">Join?</button>
	{{#each club}}
		<div class='center-block' style="margin: 10%">
		<span id='welcome'>Welcome to the {{clubName}} page!</span></br>
	    <span class="info">Category: {{clubCategory}}</span></br>
	    <span class="info">Faculty: {{Faculty}}</span></br>
		<span class="info">{{clubDescription}}</span></br>
		</div>
    {{/each}}

</br></br>
	<div id="clubCalendar" style="margin: 0px 60px 60px 60px; background: rgba(255, 255, 255, 0.79); padding: 4px 15px 5px 15px;">
	</div>
</template>

<template name='joinedClub'>
	{{> userMenu}}

	</br>
	<div class='joined-profile'>
		<span class='congrats'>
		Congratulations! </span></br></br>
		<div class="profile_pic">
	        {{> profile_pic}}
	    </div>
		</br></br>
	    <span class='congrats'>
		{{currentUser.profile.name}} you have successfully joined {{#each clubJoined}}{{clubName}}{{/each}}.
		</span>
	</div>
</template>
