<template name="userSearch">
      {{> userMenu}}
    <div>
      <form class="navbar-search pull-left">
        <input type="text" class="search-query" placeholder="Filter clubs to find your perfect match!" style="font-size: 18px; font-family:'Raleway'">
      </form>
    </div>
</template>

<template name="searchR">
  <div class='home'>
  <div>
    {{#each searchResults}}
      </br></br></br>
      <div class='searchResults'>
        <a class="name" id="selectedClubName" value="{{_id}}"><b>{{clubName}}</b></a></br>
        <span class="cat">Category: {{clubCategory}}</span></br>
        <span class="faculty">Faculty: {{Faculty}}</span>
        <div class="desc-wrapper">
        <span class="desc">{{clubDescription}}</span></br></div>
      </div>
    {{/each}}
  </div>
</div>
</template>
