<template name="userMenu">
	<div class="navbar navbar-default navbar-static-top">
		<div class="navbar-inner">
	    <a class="brand">ClubLife</a>
	    <ul class="nav" id='menuBtn'>
	    	<li><a class="search">Search</a></li>
	    	<li><a class="match">Match</a></li>
	    	<li><a class="userHome">Why Join?</a></li>
	    	<li><a class="aboutUs">About Us</a></li>
	    </ul>
	    <ul class="nav pull-right">
        <li><a class="logout" id='logoutButton'>{{loginButtons}}</a></li>
	    </div>
	</div>
</template>