html {
      display: block;
      background: url(http://i198.photobucket.com/albums/aa318/TOR605_93/background-1.jpg); 
      background-size: cover;
      background-attachment: fixed;
      width: 100%;
      height: 100vh;
      text-align: center;
}  

body {
	background-color: transparent;
}

.home-wrapper
{ 
text-align: center;
}

.home-wrapper table
{ 
margin-left: auto;
margin-right: auto;
text-align: left;
}

  .tg th{
font-family: "Raleway";
font-size: 18px;
font-weight: normal;
padding: 10px 5px;
border-style: solid;
border-color: transparent;
border-width: 20px;
overflow: hidden;
word-break: normal;
height: 180px;
display: table-cell;
vertical-align: text-top;
width: 500px;
background: white;
opacity: 0.75;
border-radius: 65px;
text-align: center;
    }

h3 {
  color: rgba(0, 0, 0, 0.91);
}

.why{
  margin: 0px 7px 10px 7px !important;
  margin-bottom: 7px !important;
}

.tg-031e{
  padding-bottom: 15px !important;
}
